@model Headcases.Models.Result
@{
    var perc = (Model.Probability * 100);
    var style = "progress-bar-danger";
    if (Model.Survived)
    {
        style = "progress-bar-success";
    }
}
<div class="progress">
    <div class="progress-bar @style progress-bar-striped" role="progressbar" aria-valuenow="@perc" aria-valuemin="0" aria-valuemax="100" style="width: @perc%">
    </div>
</div>

<p style="text-align:center;"><strong>@perc.ToString("0.##")% Chance of Survival</strong></p>